<a href="https://colab.research.google.com/github/Sammy-Mutua/IP-Week-4/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2022_04_Samuel_Mutua_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd

In [15]:
import numpy as np

In [16]:
df = pd.read_csv('Autolib.csv')

df.head(10)

,Address,Cars,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,Displayed comment,ID,...,Scheduled at,Slots,Station type,Status,Subscription status,year,month,day,hour,minute
0,2 Avenue de Suffren,0,0,0,0,0,nonexistent,Paris,NaN,paris-suffren-2,...,NaN,2,station,ok,nonexistent,2018,4,8,11,43
1,145 Rue Raymond Losserand,6,6,0,0,0,operational,Paris,NaN,paris-raymondlosserand-145,...,NaN,0,station,ok,nonexistent,2018,4,6,7,24
2,2 Avenue John Fitzgerald Kennedy,3,3,0,2,0,operational,Le Bourget,NaN,lebourget-johnfitzgeraldkennedy-2,...,NaN,1,station,ok,nonexistent,2018,4,3,20,14
3,51 Rue EugÃ¨ne OudinÃ©,3,3,1,0,1,operational,Paris,NaN,paris-eugeneoudine-51,...,NaN,2,station,ok,nonexistent,2018,4,4,4,37
4,6 avenue de la Porte de Champerret,3,3,0,0,0,nonexistent,Paris,NaN,paris-portedechamperret-6,...,NaN,3,station,ok,nonexistent,2018,4,8,17,23
5,8 Boulevard Voltaire,0,0,0,0,0,nonexistent,Paris,NaN,paris-voltaire-8,...,NaN,4,station,ok,nonexistent,2018,4,6,7,2
6,37 rue Leblanc,0,0,0,0,0,nonexistent,Paris,"Station en parking (niv -1), accÃ¨s 37 rue Leb...",paris-citroencevennes-parking,...,NaN,0,station,closed,nonexistent,2018,4,8,18,20
7,17 Rue des Luaps ProlongÃ©e,3,3,1,0,0,nonexistent,Nanterre,NaN,nanterre-luaps-17,...,NaN,0,station,ok,nonexistent,2018,4,4,22,13
8,34 avenue Jean Moulin,1,1,0,0,0,nonexistent,Paris,NaN,paris-jeanmoulin-34,...,NaN,4,station,ok,nonexistent,2018,4,2,22,58
9,41 boulevard de Rochechouart,6,6,0,0,0,nonexistent,Paris,NaN,paris-anvers-parking,...,NaN,0,station,ok,nonexistent,2018,4,4,15,2

In [22]:
df2 = df.filter(['Address','Cars','City','ID','Public name','Slots','year','month','day','hour'], axis=1)
df2

,Address,Cars,City,ID,Public name,Slots,year,month,day,hour
0,2 Avenue de Suffren,0,Paris,paris-suffren-2,Paris/Suffren/2,2,2018,4,8,11
1,145 Rue Raymond Losserand,6,Paris,paris-raymondlosserand-145,Paris/Raymond Losserand/145,0,2018,4,6,7
2,2 Avenue John Fitzgerald Kennedy,3,Le Bourget,lebourget-johnfitzgeraldkennedy-2,Le Bourget/John Fitzgerald Kennedy/2,1,2018,4,3,20
3,51 Rue EugÃ¨ne OudinÃ©,3,Paris,paris-eugeneoudine-51,Paris/EugÃ¨ne OudinÃ©/51,2,2018,4,4,4
4,6 avenue de la Porte de Champerret,3,Paris,paris-portedechamperret-6,Paris/Porte de Champerret/6,3,2018,4,8,17
...,...,...,...,...,...,...,...,...,...,...
4995,8 avenue MÃ©nelotte,2,Colombes,colombes-menelotte-8,Colombes/MÃ©nelotte/8,3,2018,4,6,11
4996,37 rue de Dantzig,4,Paris,paris-dantzig-37,Paris/Dantzig/37,2,2018,4,4,16
4997,142 rue du Bac,1,Paris,paris-bac-142,Paris/Bac/142,4,2018,4,1,7
4998,2 avenue du Val de Fontenay,2,Fontenay-Sous-Bois,fontenaysousbois-valdefontenay-2,Fontenay-Sous-Bois/Val de Fontenay/2,3,2018,4,4,17
4999,5 Rue Henry Brisson,4,Paris,paris-henrybrisson-5,Paris/Henry Brisson/5,0,2018,4,8,10

In [30]:
df3 = df2.loc[(df2['City'] == 'Paris') & (df2['year'] == 2018) & (df2['month'] == 4)]
df3

,Address,Cars,City,ID,Public name,Slots,year,month,day,hour
0,2 Avenue de Suffren,0,Paris,paris-suffren-2,Paris/Suffren/2,2,2018,4,8,11
1,145 Rue Raymond Losserand,6,Paris,paris-raymondlosserand-145,Paris/Raymond Losserand/145,0,2018,4,6,7
3,51 Rue EugÃ¨ne OudinÃ©,3,Paris,paris-eugeneoudine-51,Paris/EugÃ¨ne OudinÃ©/51,2,2018,4,4,4
4,6 avenue de la Porte de Champerret,3,Paris,paris-portedechamperret-6,Paris/Porte de Champerret/6,3,2018,4,8,17
5,8 Boulevard Voltaire,0,Paris,paris-voltaire-8,Paris/Voltaire/8,4,2018,4,6,7
...,...,...,...,...,...,...,...,...,...,...
4992,3 avenue d'Ivry,0,Paris,paris-ivry-3,Paris/Ivry/3,6,2018,4,9,23
4994,15 rue de Rocroy,0,Paris,paris-rocroy-15,Paris/Rocroy/15,1,2018,4,1,20
4996,37 rue de Dantzig,4,Paris,paris-dantzig-37,Paris/Dantzig/37,2,2018,4,4,16
4997,142 rue du Bac,1,Paris,paris-bac-142,Paris/Bac/142,4,2018,4,1,7
4999,5 Rue Henry Brisson,4,Paris,paris-henrybrisson-5,Paris/Henry Brisson/5,0,2018,4,8,10

In [32]:
df4 = df3.sort_values("Cars")
df4

,Address,Cars,City,ID,Public name,Slots,year,month,day,hour
0,2 Avenue de Suffren,0,Paris,paris-suffren-2,Paris/Suffren/2,2,2018,4,8,11
2689,3 Rue Yves Toudic,0,Paris,paris-yvestoudic-3,Paris/Yves Toudic/3,0,2018,4,4,13
2685,16 place des Ãtats-Unis,0,Paris,paris-etatsunis-16,Paris/Ãtats-Unis/16,5,2018,4,5,1
2680,11 Avenue Richerand,0,Paris,paris-richerand-11,Paris/Richerand/11,6,2018,4,6,20
2678,249 avenue Gambetta,0,Paris,paris-gambetta-249,Paris/Gambetta/249,0,2018,4,1,3
...,...,...,...,...,...,...,...,...,...,...
2528,150 rue Marcadet,6,Paris,paris-marcadet-150,Paris/Marcadet/150,0,2018,4,9,2
646,1 rue Jean Sicard,6,Paris,paris-jeansicard-1,Paris/Jean Sicard/1,0,2018,4,4,14
1024,2 rue des Eaux,6,Paris,paris-eaux-2,Paris/Eaux/2,0,2018,4,4,3
2470,2 rue du GÃ©nÃ©ral Renault,7,Paris,paris-renault-2,Paris/Renault/2,0,2018,4,9,3
3115,2 rue du GÃ©nÃ©ral Renault,7,Paris,paris-renault-2,Paris/Renault/2,0,2018,4,9,17

In [35]:
df4.hour.mode()

0    21
dtype: int64